*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.banner{
    background-image: url('images/Rectangle 2.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    text-align: center;
    display: flex;
    color: #fff;
    align-items: center;
}
.banner-text{
    width: 40%;
    margin: 0 auto;
    
}
.banner-text h4{
    font-size: 25px;
    font-weight: 700;
    line-height: 1.2;
    margin-bottom: 8px;
}
.banner-text  h1{
    font-size: 40px;
    font-weight: 800;
    line-height: 1.1;
    margin-bottom: 8px;
}
.banner-text   p{
    font-size: 18px;
    line-height: 1.5;
    margin-bottom: 10px;
}